*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    color: white;
    background-color: black;
}
.cabecera{
    border: 3px solid rosybrown;
    background-color: black;
    color: black;
    background-image: url("../multimedia/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 98%;
    width: 78rem;
    min-height: 5rem;
    line-height: 4rem;
}
.cabecera a{
    background-color:burlywood;
    margin: 30px;
}
.cabecera:hover{
    background-color: rgb(73, 40, 17);
    color: white;
}
.cabecera a:hover{
    background-color: burlywood;
    font-size: larger;
}
#homeDetails{
    flex-direction: column;
    display:flex;
    width: 77rem;
    min-height: 40rem;
}
.tituloPagina{
    margin: 10px;
    width: 76rem;
    text-align: center;
}
.tituloPagina h2{
    text-decoration: underline;
}
#nombrePagina{
    color:darkmagenta;
}
#nombrePaginaIndex{
    text-decoration: none;
}
.imagendelHome1{
    align-self: center;
    width: 60rem;
    height: 25rem;
}
.cajadelHome{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76rem;
    height: 40rem;
    margin: 10px;
}
.cajadelHome p{
    width: 30rem;
    font-size: larger;
}
.cajadelHome img{
    width: 30rem;
    height: 25rem;
}
.caja1deAboutUs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 76rem;
    height: 30rem;
}
.caja1deAboutUs p{
    width: 30rem;
    font-size: larger;
    margin: 5rem;
}
.caja1deAboutUs img{
    margin: 1rem;
    width: 25rem;
    height: 25rem;
}
/* .caja2deAboutUs{
    width: 77rem;
    height: 30rem;
}
.caja2deAboutUs p{
    top: 8rem;
    left: 35rem;
    position: relative;
    font-size: larger;
}
.caja2deAboutUs img{
    position: relative;
    width: 25rem;
    height: 25rem;
}
.caja3deAboutUs{
    width: 77rem;
    height: 30rem;
}
.caja3deAboutUs p{
    top: 8rem;
    left: 35rem;
    position: relative;
    font-size: larger;
}
.caja3deAboutUs img{
    position: relative;
    width: 25rem;
    height: 25rem;
} */
.caja1Contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: large;
}
.caja1Contact img{
    align-self: center;
    width: 60rem;
    height: 30rem;
}
.caja1Contact p{
    margin: 10px;
}
.caja2Contact{
    background-color: black;
    text-align: center;
    font-size: larger;
    width: 78rem;
    height: 5rem;
}
.caja2Contact a{
    color: white;
    margin: 35px
}
.piedePagina{
    background-color: gray;
    position: fixed;
    bottom: 0rem;
    text-align: center;
    font-size: large;
    width: 78rem;
    /* width: 100%; */
    height: 3rem;
}
.grupo{
    list-style: none;
}
table, td, th{
    border: 2px solid;
}
img{
    border-radius: 5rem;
}
.caja1BenefitsandTips{
    display: flex;
    flex-direction: column;
}
.caja1BenefitsandTips img{
    align-self: center;
    width: 15rem;
    margin: 10px;
}
.contenedorBenefitsandTips{
    display: flex;
}
.caja2BenefitsandTips{
    align-self: center;
    margin: 0 0 0 5rem;
}
.contenedortabla{
    margin-left: 50vh;
    margin-top: 10vh;
    width: 80vh;
}